# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/
.env
.venv/
venv/

# Project secrets/data
data/
keys/
*.p8
*.p12
*.mobileprovision

# Xcode
*.xcuserdata/
*.xcworkspace/
DerivedData/
Build/
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# Caddy
Caddyfile.bak.*
